<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Admin Spring Ecommerce</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" th:href="@{/css/style_admin.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body>
<section class="ftco-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/admin">Spring <small>Ecommerce</small></a>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item"><a href="/admin/category" class="nav-link">Category</a></li>
          <li class="nav-item"><a href="/admin/feature" class="nav-link">Feature</a></li>
          <li class="nav-item"><a href="/admin/product" class="nav-link">Product</a></li>
          <li class="nav-item"><a href="/admin/account" class="nav-link">Account</a></li>
          <li class="nav-item"><a href="/admin/orders" class="nav-link">Orders</a></li>
          <li class="nav-item"><a href="/" class="nav-link">Go to Web</a></li>
        </ul>
      </div>

      <div class="form-group d-flex">
        <button class="form-control search" onclick="window.location='/logout'">
          <span class="fa fa-sign-out"></span>
        </button>
      </div>
    </div>
  </nav>
  <!-- END nav -->
</section>

<h1 class="text-center mt-5">Welcome to Admin Page</h1>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>